<div class="header">
    <input type="text">
    <button (click)="selected = !selected">Select</button>
    <button (click)="disabled = !disabled">Disable</button>
</div>

<div class="main">
    <div class="light"><ng-template [ngTemplateOutlet]="buttons"></ng-template></div>
    <div class="dark"><ng-template [ngTemplateOutlet]="buttons"></ng-template></div>
</div>

<ng-template #buttons>

    <div class="container-title">Secondary</div>
    <div class="container">

        <flu-button size="small" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button size="medium" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button size="large" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

    </div>

    <div class="container-title">Primary</div>
    <div class="container">

        <flu-button type="primary" size="small" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="primary" size="medium" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="primary" size="large" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

    </div>

    <div class="container-title">Outline</div>
    <div class="container">

        <flu-button type="outline" size="small" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="outline" size="medium" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="outline" size="large" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

    </div>

    <div class="container-title">Subtle</div>
    <div class="container">

        <flu-button type="subtle" size="small" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="subtle" size="medium" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="subtle" size="large" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

    </div>

    <div class="container-title">Transparent</div>
    <div class="container">

        <flu-button type="transparent" size="small" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="transparent" size="medium" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

        <flu-button type="transparent" size="large" [selected]="selected" [disabled]="disabled">Merge request</flu-button>

    </div>
</ng-template>
